<a href="https://colab.research.google.com/github/ahneekgyun/Study/blob/main/Python_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 기초 공부 "파이썬의 정석 _BohYoh Shibata 지음 최하영 옮김_"

In [ ]:
# 2진수/8진수/16진수

In [ ]:
0b10

2

In [ ]:
0o11

9

In [ ]:
0x111

273

In [ ]:
16*16 + 16 + 1

273

In [ ]:
#정수값에 밑줄 문자 넣기 가능
print(1_2300)
# e5 는 10의 5제곱을 나타내고 e-7은 10의 마이너스7제곱을 나타냄
print(1e5)

12300
100000.0

In [ ]:
#이스케이프 스퀀스 ㅇㅇ
"""
/a : 벨 소리, 청각적 시각적 경보를 생성
/b : 백스페이스, 커서를 한 칸 앞으로 이동
/f : 폼피드(form feed), 커서 위치를 페이지의 처음으로 이동
/n : 줄 바꿈, 문자열 안에서 행을 바꿈
/r : 캐리지 리턴, 현재 커서를 행의 가장 앞으로 이동
/t : 탭 문자, 행 내에 다음 탭 위치로 이동
/v : 수직 탭, 다음의 수직 탭 위치로 이동
//
/?
/'
/"
/newline : 역슬래쉬와 개행 문자를 무시
/ooo : 1~3 자리수인 8진수 ooo
/xhh : 2자리수인 16진수 hh
"""
print("hi my name is\nahn")
print("""ahn""")
'''string'''
"'string'"

hi my name is
ahn
ahn

"'string'"

In [ ]:
# 나란히 있는 문자의 결합
print('abc'   'def')
print('공백이 자동으로 없어짐 이는 연산이 된 것이 아님')

abcdef
공백이 자동으로 없어짐 이는 연산이 된 것이 아님

In [ ]:
#raw 문자열 리터럴, 이스케이프 시퀀스를 입력한 값 그대로 처리함
print(r'\\')
print('C\\:\\rubypaper\\test')
print(r'C\:\rubypaper\test')
print("역슬래쉬가 여러 번 사용되는 경로를 입력하는 경우에 자주 사용")

역슬래쉬가 여러 번 사용되는 경로를 입력하는 경우에 자주 사용

In [ ]:
# 편리한 변수 대입 법
x = y = 1
print(x,y, "한번에 두 변수에 같은 값을 넣기")
x,y,z = 1,2,3
print(x,y,z, "여러 개의 변수에 다른 값을 한 번에 대입하기")
x = 6
y = 2
x,y = y, x
print(x,y, '여러 개의 변수에 일괄적으로 한 번에 대입하기')

1 1 한번에 두 변수에 같은 값을 넣기
1 2 3 여러 개의 변수에 다른 값을 한 번에 대입하기
2 6 여러 개의 변수에 일괄적으로 한 번에 대입하기

In [ ]:
# 행 에에 \ 를 사용한 행의 연속 (단 \뒤에 공백이 없어야함)
x \
= 5
x

5

In [ ]:
# 인터랙티브 셸에서 가장 최근에 표시한 값은 문자"_"라는 변수에 저장됨
5 + 3

8

In [ ]:
_ * 4

32

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
# print와 개행 활용법
print('hello')
print('nice to meet you!')

print('hi.',end='')
print('nice to meet you')

print('hi\nnice to meet you')

hello
nice to meet you!
hi.nice to meet you
hi
nice to meet you

In [ ]:
#input 함수
print('whats your name?:',end='')
name = input()

#input 함수의 인수
name = input('whats your name?:')
print('hi',name,'!')

whats your name?:ek
whats your name?:ek
hi ek !

In [ ]:
#여러 문자열 출력하기

# 이름을 입력받아 출력하기
name = input('what is your name?:')
print('hi',name,'!!')

what is your name?:ek
hi ek !!

출력 결과를 보면 print에서 , 로 구분된 문자열 사이사이에 공백이 생김을 알 수 있다.
이와 관련한 내용을 알아보자

In [ ]:
# 인수 sep 에 관하여
name = input('what is your name?:')
print('hi',name,'!!',sep='')
print('hi',name,'!!',sep='\n')
print('hi',name,'!!',sep='---')

# + 로 문자열을 연결하는 방법
print('hi' + name + '!!')
print('hi', name + '!!')

what is your name?:익균
hi익균!!
hi
익균
!!
hi---익균---!!
hi익균!!
hi 익균!!

In [ ]:
# input, 문자와 수에 관하여
s = int(input('integer a:'))  #input은 문자열을 받아옴으로 연산을 위해서는 변환이 꼭 필요함
print(s*s)

integer a:4
16

In [ ]:
# 10진법 이외의 문자열을 표현하는 방법
int('0b110',2)
int('13',10)
int('0x3F',16)

# n진수 문자열로 변환하는 법
print(bin(62))   #2진수
print(oct(61))   #8진수
print(hex(63))   #16진수

0b111110
0o75
0x3f

In [ ]:
# format 메소드를 이용한 문자열 서식화

a = int(input('integer. a:'))
b = int(input('integer. b:'))

print('sum of a and b is {}!'.format(a+b))
print('sum of {} and {} is {}'.format(a,b,a+b))

integer. a:1
integer. b:2
sum of a and b is 3!
sum of 1 and 2 is 3

In [ ]:
# 원의 둘레와 넓이 구하기 (원주 3.14로 계산)

print('원의 둘레,넓이 구하기 원주는 3.14')
r = float(input('반지름:'))

print('원의 둘레는 {}'.format(2*3.14*r))
print('원의 넓이는 {}'.format(3.14*r*r))

#이 코드의 문제는 무엇일까?
#바로 3.14가 매직넘버라는 점이다. 작성자 이외에는 파악이 어렵다는 뜻이다
#해결을 위해 적절한 변수를 만들어 코드를 작성하는 것이 바람직하다.

print('\n원의 둘레,넓이 구하기 원주는 3.141592')

PI = 3.141592
r = float(input('반지름:'))

print('원의 둘레는 {}'.format(2*PI*r))
print('원의 넓이는 {}'.format(PI*r*r))

# 이렇게 변수를 사용하면 코드 수정시 PI변수 하나만 수정하면 전체코드가 수정됨 코드의 보존성 향상됨
# 읽기 쉬운 코드가 된다. = 가독성이 향상됨

원의 둘레,넓이 구하기 원주는 3.14
반지름:7.2
원의 둘레는 45.216
원의 넓이는 162.7776

원의 둘레,넓이 구하기 원주는 3.141592
반지름:7.2
원의 둘레는 45.23892480000001
원의 넓이는 162.86012928000002

In [ ]:
# if문

#입력받은 수가 양의 정수인지 확인하기

n = int(input('정수를 입력하세요 :'))

if n > 0 :
  print('양의 정수입니다')

#양의 정수가 아니면 0또는 음의 정수라고 출력하기

else :
  print('0 또는 음의 정수입니다.')

정수를 입력하세요 :-2
0 또는 음의 정수입니다.

In [ ]:
# 입력 받은 두 정수의 값이 같은지 확인하기

a = int(input('첫 번째 정수를 입력하세요:'))
b = int(input('두 번째 정수를 입력하세요:'))

if a==b :
  print('두 정수는 같습니다')
else :
  print('두 정수는 같지 않습니다')

첫 번째 정수를 입력하세요:1
두 번째 정수를 입력하세요:2
두 정수는 같지 않습니다

In [ ]:
# 입력받은 정수를 구분하기

n = int(input('정수를 입력하세요:'))

if n>0 :
  print('양의 정수입니다')
elif n==0 :
  print('0입니다')
else :
  print('음의 정수입니다')

정수를 입력하세요:0
0입니다

In [ ]:
# if 문의 나열

# 숫자를 입력받아 양수인지, 그리고 홀수인지 확인하기

n = int(input('정수 값:'))

if n>0 :
  print('양수입니다')
  if n%2 == 1 :
    print('홀수입니다')
  else :
    print('짝수입니다')
else :
  print('음수입니다')

정수 값:-3
음수입니다

In [ ]:
# pass 문

# 입력받은 숫자의 부호를 표시하기 (0인경우 패스하기)

n = int(input('숫자를 입력하세요:'))

if n>0 :
  print('양수입니다')
elif n==0 :
  pass
else :
  print('음수입니다')

숫자를 입력하세요:4
양수입니다

In [ ]:
# bool tpye 논리형 타입!
print(True + 5)

#True 는 숫자1, False 는 숫자 0 이다. 이를 활용하여 코딩하는 경우가 있다.

6

## 식과 평가

### 식 (expression) 은 아래 세 가지의 총칭이다.
변수.
리터럴.
변수와 리터럴을 연산자로 결합한 것

### 평가 (evaluation)
식에는 '타입'과 '값' 있고 프로그램을 실행할 때도식의 '값'을 확인하는 것을 '평가'라고 합니다.

ex) 덧셈식의 평가
int(타입) 52(값) + int(타입) 135(값) 를 실행하면 식이 평가된다.
식을 평가하면 타입과 값을 알 수 있다. 밑에 int 187을 알다된 것이다
int 187

In [ ]:
# 논리 연산자

# 입력받은 수의 자릿수 알아보기(0, 한 자리, 두 자리 이상)

n = int(input('정수를 입력하세요:'))

if n==0 :
  print('0입니다')
elif n > -10 and n < 10 :
  print('한 자리 입니다')
else :
  print('두 자리  이상 입니다')

정수를 입력하세요:2
한 자리 입니다

### 논리 연산자의 중요한 특징
x and y : x를 평가해서 거짓이면 그 값을 생성한다. 그렇지 않으면 y를 평가하여 그 값을 생성한다
x or y : x를 평가해서 참이면 그 값을 생성한다. 그렇지 않으면 y를 평여하여 그 값을 생성한다.
not : x 가 참이면 False, 그렇지 않으면 True를 생성합니다.

즉 and나 or은 그 결과가 꼭 bool type 이지 않다는 것이다.
예를들어 1 != 0 and 2 * 2 를 실행하면 4라는 값을 생성한다.

In [ ]:
# a가 b로 나누어 떨어지는지 알아보기

a = int(input('정수 a : '))
b = int(input('정수 b : '))

c = b!= 0 and a % b
print(c,end='...')

if c :
  print('나누어 떨어지지 않습니다')
else :
  print('b는 0이거나, a는 b로 나누어 떨어집니다')

정수 a : 2
정수 b : 2
0...b는 0이거나, a는 b로 나누어 떨어집니다

In [ ]:
# and 연산의 매커니즘

print(1 == 0 and 2 / 0)

# print(2 / 0 and 1 == 0)

# 첫 번째 프린트문은 1 == 0이 거짓인 순간 False 를 생성하고 끝낸다. 뒤에 2/0을 계산하지 않는다 그렇기에 오류도 없다
# 주석처리한 프린트문은 오류가 생긴다. 2 / 0 이 불가능하기 때문이다.

False

In [ ]:
# b가 0이 아닌 경우에만 a를 b로 나눈 몫 출력하기

a = int(input('정수 a :'))
b = int(input('정수 b :'))

b == 0 or print('a // b =', a//b)

정수 a :14
정수 b :3
a // b = 4

In [ ]:
# 입력받은 달의 계절을 알아보기

month = int(input('계절을 알아봅시다\n몇 월 입니까?'))

if month >= 3 and month <= 5 :
  print('Spring')
elif month >= 6 and month <= 8 :
  print('Summer')
elif month >= 9 and month <= 11 :
  print('Fall')
elif (month == 1 or
      month == 2 or
      month == 12
      ):
  print('Winter')

계절을 알아봅시다
몇 월 입니까?12
Winter

In [ ]:
# 입력받은 달의 계절을 알아보기 (연속한 비교연산자 활용)

month = int(input('계절을 알아봅시다\n몇 월 입니까?'))

if 3 <= month <= 5 :
  print('Spring')
elif 6 <= month <= 8 :
  print('Summer')
elif 9 <= month <= 11 :
  print('Fall')
elif (month == 1 or
      month == 2 or
      month == 12
      ):
  print('Winter')

계절을 알아봅시다
몇 월 입니까?7
Summer

In [ ]:
# 집합을 이용한 판정

month = int(input('계절을 알아봅시다.\n몇 월입니까?'))

if month in {3,4,5} :
  print('Spring')
elif month in {6,7,8} :
  print('Summer')
elif month in {9,10,11} :
  print('Fall')
elif month in {12,1,2} :
  print('Winter')

계절을 알아봅시다.
몇 월입니까?3
Spring

In [ ]:
# 두 정수 중 작은 값 출력하기

a = int(input('정수를 입력하세요 :'))
b = int(input('정수를 입력하세요 :'))

if a < b :
  min2 = a
else :
  min2 = b
print('작은 값은',min2,'입니다.')

정수를 입력하세요 :2
정수를 입력하세요 :4
작은 값은 2 입니다.

In [ ]:
# 두 정수 중 작은 값 출력하기 if사용 하지 않는 방법

a = int(input('정수를 입력하세요 :'))
b = int(input('정수를 입력하세요 :'))

min2 = a if a<b else b

print('작은값은',min2)

정수를 입력하세요 :1
정수를 입력하세요 :3
작은값은 1

In [ ]:
# 차 구하기

a = int(input('정수 a:'))
b = int(input('정수 b:'))

print('두 수의 차는', a - b if a>b else b-a)

정수 a:2
정수 b:4
두 수의 차는 2

In [ ]:
# 조건 연산자 중복사용하기

n = int(input('수를 입력해주세요 :'))

print('이 값은', ('양수' if n > 0 else '0' if n == 0 else '음수'))

수를 입력해주세요 :-3
이 값은 음수

### 중첩된 if 문과 스위트

In [ ]:
# 입력받은 정수 값이 양수이면, 짝수인지 홀수인지 출력하기

n = int(input('수를 입력하세요:'))

if n > 0 :
  if n % 2 == 0 :
    print(' 짝수입니다')
  else :
    print('홀수입니다')
else :
  print('양수값이 아닙니다')

수를 입력하세요:4
 짝수입니다

In [ ]:
# 단순문의 경우 콜론뒤에 바로 작성하는 것이 좋다

n = int(input('수를 입력하세요:'))

if n > 0 :
  if n % 2 == 0 : print(' 짝수입니다')
  else : print('홀수입니다')
else : print('양수값이 아닙니다')

수를 입력하세요:3
홀수입니대

In [ ]:
# 조건 연산자를 활용하여 식 만들기

n = int(input('수를 입력하세요:'))

if n > 0 :
  print('이 수는 양수이면서 {}입니다'.format('홀수' if n%2 else '짝수'))
else :
  print('양수가 아닌 수 입니다')

# 참고
# format 안에서 if n%2 라고 쓴 이유는 값이 1이 아니면 false취급 당하기 때문이다
# True는 항상 1값으로 표현되는 것을 잊지말자

수를 입력하세요:3
이 수는 양수이면서 홀수입니다

In [ ]:
# 작은 값과 큰 값 구하기 (조건연산자를 활용하여)

a = int(input('수를 입력해주세요 : '))
b = int(input('수를 입력해주세요 : '))

(min2,max2) = (a,b) if a < b else (b,a)
print('작은 값은',min2,'큰 값은', max2)

수를 입력해주세요 : 2
수를 입력해주세요 : 2
작은 값은 2 큰 값은 2

In [ ]:
# 두 값의 오름차순 정렬

a = int(input('수를 입력해주세요 : '))
b = int(input('수를 입력해주세요 : '))

if a>b :
  a,b = (b,a)
  print(a,b)

수를 입력해주세요 : 2
수를 입력해주세요 : 5
수를 입력해주세요 : 3
수를 입력해주세요 : 2
수를 입력해주세요 : 2

In [ ]:
# 세 값의 오름차순 정렬

a = int(input('수를 입력해주세요 : '))
b = int(input('수를 입력해주세요 : '))
c = int(input('수를 입력해주세요 : '))

if a>b :
  a,b = (b,a)
  a,b,c = (a,b,c) if c>b else (c,a,b) if c<a else (a,c,b)

print(a,b,c)

수를 입력해주세요 : 2
수를 입력해주세요 : 4
수를 입력해주세요 : 7
2 4 7

In [ ]:
# if 를 활용한 정렬은 정렬할 수가 많아지면 매우 복잡해짐으로 기본제공함수를 이용해보자
# sorted 함수 활용

sorted([2,5,3,7,8,5])

sorted([3,6,3,7,4],reverse = True) #sorted 함수에 reverse = True 사용하면 내림차순

[7, 6, 4, 3, 3]

### While 문

In [ ]:
# 정수의 카운트업 (정렬 후 a 부터 b 까지)

a = int(input('정수 a :'))
b = int(input('정수 b :'))

a,b = sorted([a,b])

counter = a
while counter <= b:
  print(counter,end=' ')
  counter += 2
print()

정수 a :2
정수 b :16
2 4 6 8 10 12 14 16

In [ ]:
# 양의 정수를 0 까지 카운트 다운

a = int(input('int a :'))

while a >= 0:
  print(a,end=' ')
  a += -1

int a :6
6 5 4 3 2 1 0

In [ ]:
# 1 부터 n 까지의 합 구하기

print("sum of 1 to n")
n = int(input('int n:'))

counter = 1
sum_to_n = 0
while counter <= n:
  sum_to_n += counter
  counter += 1
print('n까지의 총 합은',sum_to_n,'입니다')

sum of 1 to n
int n:15
n까지의 총 합은 120 입니다

In [ ]:
# 양의 정수를 0까지 1초마다 카운트다운

import time
print('카운트 다운 하겠습니다')
n = int(input('양의 정수 입력 :'))

while n >= 0:
  print(n, end='')
  n -= 1
  time.sleep(1)
print()

카운트 다운 하겠습니다
양의 정수 입력 :5
543210

In [ ]:
# break 를 이용하여 반복문 짜기
while True :
  n = int(input('양수 n 입력해주세요: '))
  if n > 0:
    break

양수 n 입력해주세요: 4

In [ ]:
# continue문으로 반복처리 건너뛰기

# 양의 정수의 값을 차례대로 입력받아 더하기

print('양의 정수 값을 더해 보겠씁니다.(종료하려면 -99를 입력하세요.)')

sum = 0
while True:
  n = int(input('정수를 입력해주세요.: '))
  if n == -99:
    break
  if n < 0:
    continue
  sum += n
print('총 합은',sum)

양의 정수 값을 더해 보겠씁니다.(종료하려면 -99를 입력하세요.)
정수를 입력해주세요.: 2
정수를 입력해주세요.: 4
정수를 입력해주세요.: 15
정수를 입력해주세요.: 283900
정수를 입력해주세요.: 2938102
정수를 입력해주세요.: 53322
정수를 입력해주세요.: 223
정수를 입력해주세요.: 5
정수를 입력해주세요.: -99
총 합은 3275573

In [ ]:
# 숫자 맞추기 게임

import random

Max = 1000
max_stage = 10
print('1부터 {}까지의 숫자 중 맞혀 보세요. 기회는 {}번 입니다.'.format(Max,max_stage))

stage = 1
answer = random.randint(1,Max)

while stage <= max_stage :
  print(stage,'번 시도중, 숫자를 맞춰보세요: ')
  n = int(input('수를 입력하세요: '))

  if n < 1 or n > Max:
    continue
  if n == answer:
    print('축하합니다',stage,'번째 시도에서 정답!')
    break
  elif n > answer :
    print('더 작은 수 입니다')
  else :
    print('더 큰 수 입니다')
  stage += 1
else :
  print('아쉽네요 정답은',answer,'입니다')

1부터 1000까지의 숫자 중 맞혀 보세요. 기회는 10번 입니다.
1 번 시도중, 숫자를 맞춰보세요:
더 큰 수 입니다
2 번 시도중, 숫자를 맞춰보세요:
더 큰 수 입니다
3 번 시도중, 숫자를 맞춰보세요:
더 큰 수 입니다
4 번 시도중, 숫자를 맞춰보세요:

In [ ]:
# 가위바위보

import random

print('가위바위보')

# 이긴 횟수, 진 횟수, 비긴 횟수
win_no = lose_no = draw_no = 0

while True:
  comp = random.randint(0,2)
  while True:
    human = int(input('가위바위보(0 : 바위 // 1 : 가위 // 2 : 보): '))
    if 0 <= human <= 2:
      break
  print('나는 ', end='')
  if comp == 0 :
    print('주먹',end='')
  elif comp == 1 :
    print('가위',end='')
  else :
    print('보',end='')
  print('입니다')

  # 승패 판정
  judge = (human - comp+3) % 3
  if judge == 0:
    print('비겼습니다!!')
    draw_no += 1
  elif judge == 1:
    print('당신이 졌습니다')
    lose_no += 1
  else :
    print('당신이 이겼습니다')
    win_no += 1
  retry = int(input('한 번 더 해볼까요?(0 : 네 // 1 : 아니오) :'))
  if retry ==1 :
    break
print('결과 :', win_no,'승',draw_no,'무',lose_no,'패 입니다.')

가위바위보
가위바위보(0 : 바위 // 1 : 가위 // 2 : 보): 2
나는 주먹입니다
당신이 이겼습니다
한 번 더 해볼까요?(0 : 네 // 1 : 아니오) :0
가위바위보(0 : 바위 // 1 : 가위 // 2 : 보): 1
나는 보입니다
당신이 이겼습니다
한 번 더 해볼까요?(0 : 네 // 1 : 아니오) :0
가위바위보(0 : 바위 // 1 : 가위 // 2 : 보): 5
가위바위보(0 : 바위 // 1 : 가위 // 2 : 보): 5
가위바위보(0 : 바위 // 1 : 가위 // 2 : 보): 36
가위바위보(0 : 바위 // 1 : 가위 // 2 : 보): 2
나는 보입니다
비겼습니다!!
한 번 더 해볼까요?(0 : 네 // 1 : 아니오) :1
결과 : 2 승 1 무 0 패 입니다.

### for 문

In [ ]:
# 입력받은 횟수만큼 인사하기(카운트는 0부터 시작)

n = int(input('몇 번 인사할까요 :'))

for i in range(n):
  print('No.',i,': 안녕하세요')

몇 번 인사할까요 :3
No. 0 : 안녕하세요
No. 1 : 안녕하세요
No. 2 : 안녕하세요

In [ ]:
# 입력받은 횟수만큼 인사하기 (카운트는 1부터 시작)

n = int(input('몇 번 인사할까요 :'))

for i in range(n):
  print('No.',i+1,': 안녕하세요')

몇 번 인사할까요 :2
No. 1 : 안녕하세요
No. 2 : 안녕하세요

In [ ]:
# 입력받은 횟수만큼 인사하기 (카운트는 1부터 시작,구간활용)

n = int(input('몇 번 인사할까요 :'))

for i in range(1, n+1):
  print('No.',i,': 안녕하세요')

몇 번 인사할까요 :2
No. 1 : 안녕하세요
No. 2 : 안녕하세요

In [ ]:
# for 문으로 정수 세기 (오름차순으로 정렬된 a 부터 b 까지)

a = int(input('정수 a:'))
b = int(input('정수 b:'))

a, b = sorted([a,b])  # 오름차순 정렬

for i in range(a,b+1):
  print(i,end=' ')
print()

정수 a:3
정수 b:12
3 4 5 6 7 8 9 10 11 12

### range 함수

In [ ]:
# List 4-12

# 정수의 카운트업

start = int(input('start number :'))
end = int(input('end number'))
step = int(input('interval:'))

for count in range(start,end,step):
  print(count, end=' ')
print()

start number :2
end number34
interval:4
2 6 10 14 18 22 26 30

In [ ]:
# List 4-13

# 입력받은 수보다 작은 홀수를 오름차순으로 나열하기

n = int(input('수를 입력하세요 : '))

for i in range(1,n+1,2):
  print(i,end=' ')
print()

수를 입력하세요 : 17
1 3 5 7 9 11 13 15 17

In [ ]:
# List 4-14

# 입력받은 수의 약수를 오름차순으로 나열하기

n = int(input('수를 입력하세요 : '))

for i in range(1,n+1,1):
  if n % i == 0:
    print(i,end=' ')
print()

수를 입력하세요 : 16
1 2 4 8 16

In [ ]:
# List 4-15

# 입력받은 수 만큼 * 출력하기

n = int(input('수를 입력하세요 : '))

for _ in range(n):
  print('*',end='')

# 반복용 카운터 변수명이 _ 이다. _로만 이루어진 변수는 루프 본체에서 변수를 사용하지 않는다를 의미

수를 입력하세요 : 5
*****

### else 절

while문 끝에서 else 절을 쓸 수 있는 것과 마찬가지로, for 문의 끝에서도 사용 가능하다.
else 절이 있는 for, while 문은 break문으로 강제 종료되지 않고 반복이 끝나야만 else절에 있는 스위트가 실행됨

In [ ]:
# List 4-16

# 10~99 사이의 난수 n개 생성하기

import random

n = int(input('몇 개의 난수를 만들까요? : '))

for _ in range(n):
  r = random.randint(10,99)
  if (r==13):
    print('\n갑작스러운 이유로 중지되었습니다')
    break
  print(r,end=' ')
else :
  print('\n난수 생성을 종료합니다')

몇 개의 난수를 만들까요? : 20
31 54 88 35 32 51 36 70 32 76
갑작스러운 이유로 중지되었습니다

### 반복문의 전치 판정

In [ ]:
# List 4C-2

# 1~12 중에서 8을 생략하고 반복하기 1

for i in range(1,13):
  if i ==8:
    continue
  print(i,end=' ')
print()

1 2 3 4 5 6 7 9 10 11 12

이런 프로그램은 바람직 하지 않음.
10만번 반복 중 단 한번의 건너뛰기를 위해 10만번 판정하는 과정이 이루어지기 때문임.
하지만 키보드로 건너뛸 값을 입력받거나, 난수로 값을 설정하는 경우는 피할 수 없음

In [ ]:
# List 4C-3

# 1~12 중에서 8을 생략하고 반복하기 2

for i in list(range(1,8)) + list(range(9,13)):
  print(i,end=' ')
print()

1 2 3 4 5 6 7 9 10 11 12

### 다중루프

In [ ]:
# List 4-17

# 구구단표 만들기

print('-'* 27)
for i in range(1,10):
  for j in range(1,10):
    print('{:3d}'.format(i*j),end='')
  print()
print('-' * 27)

# 문자열의 {:3d}는 10진수를 세 자릿수 표시하는 형식임. 나중에 보충학습 예정

---------------------------
  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81
---------------------------

In [ ]:
# List 4-18

# 사각형 그리기

print('사각형')
h = int(input('높이: '))
w = int(input('너비: '))

for i in range(h):
  for j in range(w):
    print('*',end='')
  print()

사각형
높이: 3
너비: 4
****
****
****

In [ ]:
# List 4-19

# 왼쪽 하단이 직각인 이등변 삼각형 그리기

print('왼쪽 하단이 직각인 이등변 삼각형')
n = int(input('짧은 변의 길이: '))

for i in range(n+1):
  print('*' * i)

왼쪽 하단이 직각인 이등변 삼각형
짧은 변의 길이: 4

*
**
***
****

In [ ]:
# 다른 문제 풀이법

n = int(input('짧은 변의 길이'))

for i in range(n):
  for j in range(i+1):
    print('*', end='')
  print()

짧은 변의 길이4
*
**
***
****

In [ ]:
# List 4-20

# 오른쪽 하단이 직각인 이등변 삼각형 그리기

print('오른쪽 하단이 직각인 이등변 삼각형 그리기')

n = int(input('가장 짧은 변의 길이: '))

for i in range(n):
  for _ in range(n-i-1):
    print(' ', end='')
  for _ in range(i+1):
    print('*',end='')
  print('')

오른쪽 하단이 직각인 이등변 삼각형 그리기
가장 짧은 변의 길이: 3
  *
 **
***

## 객체와 타입

In [ ]:
# 변수는 객체를 참조하는 것으로 객체에 연결된 이름에 불과하다

In [ ]:
# 예시 5-1 객체의 아이덴티티

n = 17
id(17)

140383341101808

In [ ]:
id(n)

140383341101808

In [ ]:
# 변수 와 17의 아이덴티티 값이 같은 이유
# 파이썬은 이미 존재하는 정수17에 변수 n이라는 이름을 묶어주기만 할 뿐이기 떄문

# 파이썬은 모든것이 객체이다. 메모리의 일부를 점유하는 객체는 아이텐티티, 타입, 값 등의 특성을 갖는다

### 가변과 불변

In [ ]:
# 가변형(immutable) : 리스트, 딕셔너리, 집합
# 불변형(mutable) : 숫자, 문자열, 튜플

# 가변객체, 불변객체 모두 타입 자체를 변경할 수는 없습니다.

### 동일성 판정 연산자(is, is not)

In [ ]:
# List 5-1

# a와 b의 동일성 판정하기

a = int(input('정수 a:'))
b = int(input('정수 b:'))

print('a is b = ', a is b)

정수 a:4
정수 b:4
a is b =  True

### del문

In [ ]:
# 예 5-6, del문에 의한 변수 삭제

x = 5
print(x)

del x
print(x)

# 변수 x를 삭제하고 난 뒤 출력시키면 오류가 발생한다.
# 실제로는 리스트의 요소를 제거할 때 사용합니다

5

NameError: ignored

### None

In [ ]:
# 어떠한 객체와도 식별할 수 있는 것이 NoneType 의 None입니다.

# None은 '빈 값'과 '존재하지 않는 값'을 구별하기 위한 특별한 값이다

# None을 논리 값으로 평가하면 '거짓'입니다 하지만 None 자체가 논리 값 'False'와 동일하지는 않음

# 정수0, 실수0.0, 빈 문자열, 빈 리스트, 빈 튜플, 빈 딕셔너리, 빈 집합set()은
# 모두 거짓으로 간주 하지만 None과 같지 않다.

In [ ]:
# List 5-2

# None과 논리식 1

x = None
if x :
  print('성립')
else :
  print('미성립')

# None 과 논리식 2

if x is None:
  print('성립')
else:
  print('미성립')

# 거짓으로 처리되는 값의 판정 1

x = 0
if x:
  print('성립')
else:
  print('미성립')

# 거짓으로 처리되는 값의 판정 2

x = 0
if x is None:
  print('성립')
else:
  print('미성립')

미성립
성립
미성립
미성립

In [ ]:
# 결과적으로 보면 None은 거짓으로 간주되지만?
# None 과 동일한 것은 None 뿐이며
# 그렇기에 거짓을 None과 비교하면 다르다고 판정한다.

In [ ]:
# 예 5-7 논리식 x or ''

x = None
s = x or ''
s

# None을 빈 문자열로 변환했다고 하는데 잘 이해가 안되는 부분이다
# or 의 쓰임을 잘 모르겠다.

''

In [ ]:
# 인터넷 검색 후, 나름대로 실험해봄.
# 둘중에 하나라도 참이면 참인 값을 반환하는데 거짓과 None이 있으면 None을 우선 반환한다....뭐지
print(2 or 3)
print(2 or False)
print(False or True)
print(True or None)
print(False or None)
print(None or None)

2
2
True
True
None
None

### 객체와 기본 데이터 타입

### 논리형

In [ ]:
# True 는 1값, False 는 0값임을 기억하자

### 부동 소수점형과 싨의 연산

In [ ]:
# 숫자의 크기는 12자리까지 나타낼 수 있고, 정밀도로는 여섯자리가 효과적임

In [ ]:
print(1234567890)
# 1.23457 * 10^9 라고 수학적으로 포현가능
# 1.23457을 기수라고 하고, 9를 지수라고 한다.
# 기수의 자릿수가 정확성, 지수의 값이 크기에 해당함

1234567890

In [ ]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# flot 타입의 특성을 나열한 정보임.

### 산술 변환

In [ ]:
# 몇 가지 연산규칙
# 1. 피연산자 중 하나라도 복소수라면, 다른 피연산자 또한 복소수형으로 변환
# 2. 그렇지 않고 피연산자가 실수라면, 다른 피연산자 또한 실수형으로 변환
# 3. 그렇지 않으면 두 인수 모두 정수여야 하며 변환되지 않는다.
# 즉 더욱 복잡한 타입으로 올려계산하는 듯 하다.

### 산술 연산에 사용하는 내장 함수

In [ ]:
"""
abs(x) : 숫자 x의 절댓값을 리턴한다.
bool(x) : x의 논리 값을 리턴한다.
complex(real, imag) : real + imag * 1j 의 복소수값을 리턴하거나 문자열이나 숫자를
복로수로 변환한 값을 리턴한다. imag가 생략되는 경우에는 0으로 처리된다.
real, imag모두 생략된 경우 0j가 리턴된다.
divmod(a,b) : 값 a를 b로 나눈 몫과 나머지로 이루어진 튜플을 리턴한다
float(x) : 문자열 또는 숫자 x를 실수로 변환한 값을 리턴한다. 인수가 생략된 경우에는 0.0을 리턴한다.
hex(x) : 정수 x의 0x로 시작하는 16진수 형태의 문자열을 리턴한다.
int(x,base) : x를 int타입 정수로 변환한 값을 리턴한다. base는 0-36의 범위이어야 하고
생략된 경우 10으로 처리한다.
max(args) : 인수의 최댓값을 리턶한다.
min(args) : 인수의 최솟값을 리턴한다.
oct(x) : 정수 x의 8진수 형태인 0o로 시작하는 문자열을 리턴한다.
pow(x,y,z) : x의 제곱, 즉 x**y를 리턴한다. z가 지정된 경우에는 x의 y제곱을 z로 나눈 값의
나머지를 리턴한다. pow(x,y) % z보다 효율적인 계산을 할 수 있다.
round(n,ndigits) : n의 소수점 ndigits자리에서 반올림한 값을 리턴한다.
ndigits가 None이거나 생략된 경우에는 입력 값과 가장 가까운 정수를 리턴한다.
sum(x,start) : start와 x의 요소를 순서대로 합산하여 그 합을 리턴한다. start의 기본값은 0이다.
"""

'\nabs(x) : 숫자 x의 절댓값을 리턴한다.\nbool(x) : x의 논리 값을 리턴한다.\ncomp(real, imag) : real + imag * 1j 의 복소수값을 리턴하거나 문자열이나 숫자를\n복로수로 변환한 값을 리턴한다. imag가 생략되는 경우에는 0으로 처리된다.\nreal, imag모두 생략된 경우 0j가 리턴된다.\n'

In [ ]:
complex(2,2)

(2+2j)

In [ ]:
int('21',4)
'''
4진법일때 21을 정수로 변환하는 과정임.
실험결과 정수로 이루어진 문자열을 넣어야하고
4진법으로 이루어진 수 임으로 0~3까지의 수만 사용가능하다.
'''

'\n4진법일때 21을 정수로 변환하는 과정임.\n실험결과 정수로 이루어진 문자열을 넣어야하고\n4진법으로 이루어진 수 임으로 0~3까지의 수만 사용가능하다.\n'

In [ ]:
int('a',11)

10

### 복소수형

In [ ]:
z = 3.2 + 5.7j

In [ ]:
z.real # 복소수형의 실수 추출

3.2

In [ ]:
z.imag # 복소수형의 허출부 추출

5.7

### 비트 단위 논리 연산자

& -> 비트 논리곱 연산자(bitwise and operator)
| -> 비트 논리합 연산자(bitwise inclusive or operator)
^ -> 비트 배타적 논리합 연산자(bitwise exclusive or operator)
~ -> 비트 반전 연산자(bitwise invert operator)

In [ ]:
# 비트 논리곱 &
for i in range(2):
  for j in range(2):
    print(i,'&',j,'=',i & j)

# 비트 논리합 |
for i in range(2):
  for j in range(2):
    print(i,'|',j,'=',i | j)

# 비트 배타적 논리합 ^
for i in range(2):
  for j in range(2):
    print(i,'^',j,'=',i ^ j)

# 비트 반전
# 파이썬 사양에 따라 -(x + 1)이 된다.
for i in range(2):
 print('~',i,'=',~i)

0 & 0 = 0
0 & 1 = 0
1 & 0 = 0
1 & 1 = 1
0 | 0 = 0
0 | 1 = 1
1 | 0 = 1
1 | 1 = 1
0 ^ 0 = 0
0 ^ 1 = 1
1 ^ 0 = 1
1 ^ 1 = 0
~ 0 = -1
~ 1 = -2

In [ ]:
# List 5-7

# 비트 단위의 논리곱, 논리합, 배타적 논리합, 반전 확인하기

a = int(input('양의 정수 a:'))
b = int(input('양의 정수 b:'))
w = int(input('출력할 자릿수:'))

f = '{{:0{}b}}'.format(w)
m = 2 ** w -1 # w자리 모두 1의 2진수에 해당

print('a     = ' + f.format(a))
print('b     = ' + f.format(b))
print('a & b = ' + f.format(a & b))
print('a | b = ' + f.format(a | b))
print('a ^ b = ' + f.format(a ^ b))
print('~a    = ' + f.format(~a & m))
print('~b    = ' + f.format(~b & m))

양의 정수 a:3
양의 정수 b:4
출력할 자릿수:7
a     = 0000011
b     = 0000100
a & b = 0000000
a | b = 0000111
a ^ b = 0000111
~a    = 1111100
~b    = 1111011

#### 논리 연산의 응용

In [ ]:
# List 5-8

# 하위 4비트를 마스크/세트/반전하기

a = int(input('0~255의 정수:'))

print('2진수 = {:08b}'.format(a))

# 마스크/세트/반전의 개념과 응용은 추후 업데이트

0~255의 정수:2
2진수 = 00000010

###비트 시프트 연산자

In [ ]:
# 추후 업데이트

## 문자열 기초

### 문자열

파이썬에서는 단일, 여러 문자도 모두 문자열로 취급한다.

In [ ]:
# List 6-1

# 문자열의 모든 문자를 순서대로 출력하기 1

s = 'ABCDEFG'
print(len(s))
for i in s:
  print(i)

for i in range(len(s)):
  print(s[i])

7
A
B
C
D
E
F
G
A
B
C
D
E
F
G

### 인덱스를 사용한 문자열 탐색

In [ ]:
# List 6-3

# 입력받은 문자열의 모든 문자를 for문으로 출력하기

s = input('문자열:')

for i in range(len(s)):
  print('s[{}] = {}'.format(i,s[i]))

문자열:ABCE
s[0] = A
s[1] = B
s[2] = C
s[3] = E

### 문자열 내의 문자 검색

In [ ]:
# List 6-4

# 입력받은 문자열에서 문자 찾기

s = input('문자열s :')
c = input('찾을 문자c :')

for i in range(len(s)):
  if c not in s:
    print('문자 {}는 없습니다'.format(c))
    break
  if s[i] == c:
    print('문자 {}는 S[{}]에 있습니다'.format(c,i))

# 이 코드의 효율이 얼마나 좋은지는 모르겠음 아직 공부를 깊게 하지 않았기 때문이다
# in 함수가 어떻게 작동하냐에 따라 다를 듯 하다. 만약 c not in s 에서 걸리는 시간이 적다면?
# 괜찮은 코드일 듯 하다.

문자열s :ABDVEIWUFHdsKVJBEhWEfush
찾을 문자c :E
문자 E는 S[4]에 있습니다
문자 E는 S[16]에 있습니다
문자 E는 S[19]에 있습니다

### 슬라이스

슬라이스에는 [ i : j : k ] 를 사용한다.
i 는 시작인덱스, j-1까지 추출하는 j, 간격은 k 로 설정한다.
i,j,k 에는 규칙이 있는데
* i와 j가 len(s) 보다 크면 len(s)라고 간주한다.
* i가 생략되거나 None이면 0이라고 간주한다.
* j가 생략되거나 None이면 len(s)라고 간주한다.
그래서 인덱스와는 다르게 범위를 벗어나는 값을 지정해도 오류가 발생하지 않는다.

range와 슬라이스식의 지정 값에 대하여
range(n), range(a,b)가 생성하는 수열의 최종 값은 n, b-1이며
s[:n], s[a:b] 도 마찬가지 입니다. 이렇게 하면 장점은
1. n, b-a로 길이를 알 수 있다.
2. range(a,b), range(b,c)나 s[:n], s[n:]를 사용해 요소를 중복없이 나열 가능하다.

### 비교 연산자를 사용한 대소 관계 및 등가성 판정

In [ ]:
# List 6-5

# 문자열 s1과 s2의 대소관계 및 등가성 판정하기

s1 = input('문자열s1')
s2 = input('문자열s2')

print('s1 < s2 = ',str(s1 < s2))
print('s1 == s2 = ',str(s1 == s2))
print('s1 != s2 = ',str(s1 != s2))

문자열s1ABC
문자열s2XYZ
s1 < s2 =  True
s1 == s2 =  False
s1 != s2 =  True

문자열 대소 관계의 판정 기준은 문자열을 이루는 각 문자의 문자 코드입니다.
판단 기준은 앞 문자부터 크기를 비교해 나가면서 모든 문자의 대소를 비교하여 결론냅니다.
비교 연산자는 연속해서 적용할 수 있기 때문에 AAA <= s <= ZZZ 같은 연속판정 가능합니다.

In [ ]:
print('A' == 'A')
print('A' == 'a')
print('A' > 'B')
print('a' > 'A')
print('A' > 'a')
print('Ab' > 'ab')
print('ab' > 'aB')
print('aAbB' > 'aAb') # 앞 문자가 동일하고 하나의 문자만 차이가 있다면 길이가 긴 쪽을 크다고 판단
print('aAbB' > 'aa')

True
False
False
True
False
False
True
True
False

In [ ]:
# List 6-6

# 문자열 s1과 s2 동일성 판정하기

s1 = input('문자열 s1:')
s2 = input('문자열 s2:')

print('s1 is s2 =',str(s1 is s2))
print('s1 is not s2=',str(s1 is not s2))

문자열 s1:AB
문자열 s2:AB
s1 is s2 = False
s1 is not s2= True

각각 만들어진 문자열을 각각 다른 객체입니다.
문자열의 모든 문자가 동일하더라도 is 연산자를 이용한 판정결과는 거짓이다.
단 단일 문자면 is 연산자의 결과는 참 ('A' is 'A') -> True

### 귀속 판정 연산자(membership test operator) in

In [ ]:
# List 6-7

# 문자열 txt에 문자열 ptn이 있는지 확인하기

txt = input('문자열 txt:')
ptn = input('문자열 ptn:')

if ptn in txt:
  print('ptn은 txt에 포함되어 있습니다')
else:
  print('ptn은 txt에 포함되어 있지 않습니다.')

문자열 txt:ABCDEFG
문자열 ptn:CDE
ptn은 txt에 포함되어 있습니다

in 연산자는 ( x in y in z ) 같이 연속으로 사용 가능함

### enumerate 함수를 이용한 문자열 탐색

In [ ]:
# List 6-8

# enumerate 함수로 문자열의 모든 문자 탐색하기

s = input('문자열: ')

for i, ch in enumerate(s):
  print('s[{}] = {}'.format(i,ch))

문자열: AVCDEFG
s[0] = A
s[1] = V
s[2] = C
s[3] = D
s[4] = E
s[5] = F
s[6] = G

In [ ]:
s = 'ABC'
for i,k in enumerate(s):
  print(i,k)

0 A
1 B
2 C

In [ ]:
# List 6-9

# enumerate 함수로 문자열의 모든 문자를 탐색하기 (시작값 지정)
# 컴퓨터 내부의 카운터는 0 이지만 시작값을 1 로 설정하여 사람처럼 1부터 카운트 가능
s = input('문자열 : ')

for i,ch, in enumerate(s,1):
  print('{} 번째 문자 : {}'.format(i,ch))

문자열 : ASBC
1 번째 문자 : A
2 번째 문자 : S
3 번째 문자 : B
4 번째 문자 : C

In [ ]:
# List 6-10

# enumerate 함수를 문자열의 모든 문자를 역으로 탐색하기

s = input('문자열 : ')

for i,ch, in enumerate(reversed(s),1):
  print('뒤에서 {} 번째 문자 : {}'.format(i,ch))

문자열 : ABCDEFG
뒤에서 1 번째 문자 : G
뒤에서 2 번째 문자 : F
뒤에서 3 번째 문자 : E
뒤에서 4 번째 문자 : D
뒤에서 5 번째 문자 : C
뒤에서 6 번째 문자 : B
뒤에서 7 번째 문자 : A

#### enumerate 함수
enumerate 함수는 인덱스와 요소, 두 값 모두를 차례대로 탐색할 수 있는 내장함수임.
enumerate(s,1) 같이 카운트 시작값을 설정 할 수 있음
enumerate(reversed(s),1)같은 활용도 가능
문자열뿐 아니라 리스트에도 적용가능함.

#### reversed 내장함수

In [ ]:
s = 'aabcdefg'
s[::-1]
re_s = reversed(s)
print(re_s)

<reversed object at 0x7f7492407f70>

In [ ]:
s[::-1]

'gfedcbaa'

#### 인덱스 값이 필요하지 않은 경우의 문자열 탐색

In [ ]:
# List 6-11

# 문자열의 모든 문자 탐색하기
s = input('strings :')

for ch in s:
  print(ch, end='')
print()

strings :abcedef
abcedef

In [ ]:
# List 6-12

# 문자열의 모든 문자를 역순으로 탐색하기
s = input('문자열:')

for ch in s[::-1]:
  print(ch, end='')
print()

문자열:abcd
dcba

#### 이터러블 객체 iterable object

for 변수 in 정렬식 : 스위트 에서 정렬식의 정확한 용어는 '이러터블 객체'이다.  
순서대로 요소를 한 개씩 꺼낼 수 있는 객체를 말 한다.  
문자열은 대표적인 이터러블 객체이다.

## 문자열 조작

## 리스트

### 리스트 이해하기

1. 강력한 데이터 저장소인 리스트는 가변 list타입 객체다.  
2. 저장되는 요소는 객체를 참조하기 때문에 요소(가 참조하는 객체) 형태는 선택적이다.  
즉, 모든 요소의 타입이 동일하지 않아도 되고 요소 자체가 리스트일 수 있다.
3. 요소에는 순서가 있다.  
4. 인덱스식으로 각 요소에 액세스하여 값을 읽고 쓸 수 있다.  
5. 슬라이스식으로 특정 범위의 요소를 연속 또는 일정 간격으로 추출할 수 있다.  
6. 요소들을 쉽게 탐색할 수 있다.  
7. 요소이 개수는 유동적이다. 일단 만든 후에 자유롭게 확장하거나 축소할 수 있다.  
8. 아무런 요소를 갖지 않아도 되며 이를 빈 리스트라고 한다. 빈 리스트의 논리값은 False이다.  
9. 정렬이나 반전 등 편리한 기능이 많이 제공된다.

### 리스트 생성

In [ ]:
# 리스트 생성 연습

list05 = list()
list06 = list('abc')
list07 = list([1,2,3])
list08 = list((1,2,3))
list09 = list({1,2,3})
list10 = list(range(7))
list11 = list(range(3,8))
list12 = list(range(3, 13, 2))
list13 = [None] * 5

### 각각 생성된 리스트의 동일성

In [ ]:
# 각각 생성된 리스트는 모든 요소가 같은 값이여도 다른 아이덴티티를 가진다.
# is 연산자로 아이덴티티 판별을 하면 당연히 False가 나온다.

### 리스트 대입

리스트(를 참조하는 변수)를 대입해도 요소의 배열은 복사되지 않습니다.  
대입을 하면 값이 아닌 참조되는 대상을 복사하기 때문

In [ ]:
list1 = [1, 2, 3 ,4, 5]
list2 = list1
list1 is list2

True

In [ ]:
list1[2] = 9
list1

[1, 2, 9, 4, 5]

In [ ]:
list2

[1, 2, 9, 4, 5]

### 리스트 연산

#### 덧셈, 곱셈 연산

In [ ]:
# 리스트 끼리 + 로 결합가능하고, * 연산자로 리스트 반복이 가능하다

x = [1,2,3] + [4,5]
x

[1, 2, 3, 4, 5]

In [ ]:
x * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### 비교연산자

In [ ]:
[1,2,3] < [1,2,3,5] < [1,2,3,5,6]

True

In [ ]:
# 왼쪽 요소부터 비교해서 값이 같으면 다음 요소를 비교함
# 한쪽 요소가 더 크면 그 요소가 더 큼.
# 같은 요소가 반복되다가 한쪽 요소가 더 많은 경우 더 많은 쪽이 크다고 판별

### len, min, max 함수

In [ ]:
len(x)

5

In [ ]:
min(x)

1

In [ ]:
max(x)

5

### 빈 리스트 판정

In [ ]:
# 요소가 없는 리스트는 거짓이다. x가 빈 리스트인지 판별하려면

if x :
  print()
  # 빈 리스트가 아니라면 수트할 스위트
else:
  print()
  # 빈 리스트인 경우 수행할 스위트

### 리스트 언팩

In [ ]:
x = [1, 2, 3]
a,b,c = x
a,b,c

(1, 2, 3)

In [ ]:
# 리스트 x의 요소가 각 문자에 대입 되었음.
# 한 리스트나 튜플을 쪼개서 여러 요소의 값을 꺼내는 것을 언팩 이라고 합니다.

### 인덱스 식으로 액세스 하기

In [ ]:
x = [1,2,3,4,5]
print(x[1])
print(x[-1])

2
5

### 슬라이스식으로 액세스하기

In [ ]:
print(x[1:3])
print(x[0::2])
print(x[::-1])

[2, 3]
[1, 3, 5]
[5, 4, 3, 2, 1]

### 슬라이스식에 대입하여 요소 치환하기

In [ ]:
x = [1,2,3,4,5,6,7]

# 요소의 개수가 같은 경우
x[1:3] = [9,9]
print(x)

# 요소의 개수가 달라도 가능
x[1:3] = [0,0,0]
print(x)

[1, 9, 9, 4, 5, 6, 7]
[1, 0, 0, 0, 4, 5, 6, 7]

### 리스트 검색

#### 귀속 판정 연산자 in , not in 판정

In [ ]:
a = 1
b = [1,2]
c = [[1,2],[3,4]]
d = [[1,2,3],[4,5]]
print(a in b in c)
print(a in b in d)

True
False

#### index 메소드 판정

In [ ]:
x = [11,22,33,44,55,33,77]

x.index(22)

1

In [ ]:
x.index(33, 3)  # x[3] 이후 33의 첫 인덱스

5

In [ ]:
x.index(33,5,7) # x[5] ~ x[7] 에서 33의 첫 인덱스

5

#### count 메소드의 발생 빈도 카운트

In [ ]:
[1,2,3,4,4,4,4].count(4)

4

### 리스트 확장

#### 요소 추가하기(append 메소드)

In [ ]:
# 예) 7-14 요소 추가하기

x = [1,2,3,4,5,6,7]
x.append(8)
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# ex) 7-15

x = [1,2,3,4,5]
x.append([66,77,88]) # 리스트 안에 리스트가 추가됨
x

[1, 2, 3, 4, 5, [66, 77, 88]]

In [ ]:
x = [1,2,3,4,5]
y = [64,77,38]
x += y
x

[1, 2, 3, 4, 5, 64, 77, 38]

In [ ]:
# extend 메소드로 리스트 뒤에 리스트 추가 가능하다

x = [1,2,3,4,5]
y = [66,77,88]
x.extend(y)
x

[1, 2, 3, 4, 5, 66, 77, 88]

#### 리스트 반복(곱셈연산자 *와 누적 대입 *=)

In [ ]:
# 예) 7-17 리스트 반복

x = [1,2,3] * 3
x

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 대입과 누적 대입의 차이

대입은 x = x + [4,5] 의 형태이다  
원래 있던 x 에서 새롭게 생성된 x+[4,5]를 참조하게 된다.  
즉 아이덴티티를 id(x)로 비교과면 연산 전과 후가 다르다.  

누적 대입은 x += [4,5] 꼴이다  
이는 새롭게 생성되는 리가트가 생기는게 아니라 기존 x를 바꿀 뿐이다.  
그렇기에 아이덴티티를 비교하면 변화하지 않는다.  

이는 가변객체의 본질을 이해하기 위해서 중요하다.

### 요소의 삽입과 삭제  

x.insert(i,v)는 x[i]에 v를 대입하고, 그 이후의 요소는 뒤로 밉니다.  
i가 x의 범위가 아니라면 x의 끝에 삽입된다.

In [ ]:
# 예) 7-19

x = [1,2,3,4,5,6,7]
x.insert(4,9)
x

[1, 2, 3, 4, 9, 5, 6, 7]

#### 임의의 값을 가지는 요소의 제거(remove 메소드)  

x.remove(v)는 리스트 x에서 v값(여러개가 있으면 가장 첫 번째) 요소를 제거하고 이후 모든 요소를 당김

In [ ]:
# 예) 7-20

x = [1,2,3,4,5,6,7]
x.remove(3)
x

[1, 2, 4, 5, 6, 7]

In [ ]:
# 삭제 대상이 중복될 경우 앞에 요소 하나만 제거함
# 만약 삭제 대상이 없을 경우 ValueError예외가 발생함.

# 이를 해결하기 위해 1. in 연산자 활용 2. 예외처리 수행

# 셀프 실습
import random
for _ in range(5):
  x = [1,2,3,4,5,6,7,8,9,10]
  r_element = random.randint(1,20)
  print('제거 할 요소는',r_element)
  if r_element in x:
    x.remove(r_element)
  print(x)
  print()

제거 할 요소는 14
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

제거 할 요소는 10
[1, 2, 3, 4, 5, 6, 7, 8, 9]

제거 할 요소는 1
[2, 3, 4, 5, 6, 7, 8, 9, 10]

제거 할 요소는 1
[2, 3, 4, 5, 6, 7, 8, 9, 10]

제거 할 요소는 18
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 지정 요소의제삭제(pop 메소드)  

x.pop(i)는 요소 x[i]를 제거하고, 그요소의 값을 리턴합니다

In [ ]:
# 예) 7-21 지정 요소 삭제
x = [1,2,3,4,5,6,7]
v = x.pop(2)
x

[1, 2, 4, 5, 6, 7]

In [ ]:
v

3

In [ ]:
# 만약 pop함수에 인수를 지정하지 않으면 기본값은 -1로 마지막요소가 사라짐
# 삭제하는 요소의 값이 필요하지 않다면 del문을 사용한다.

#### del문 요소삭제

In [ ]:
x = [1,2,3,4,5,6,7]
del x[2]
x

[1, 2, 4, 5, 6, 7]

In [ ]:
del x[0:1]
x

#del 문의 경우 슬라이스로 요소 선택이 가능함, [:]로 전체삭제도 가능

[]

In [ ]:
del x
x
#del x 를 사용하면 리스트 자체가 삭제된다.

NameError: ignored

#### 모든 요소의 제거(clear 메소드)

In [ ]:
# 예) 7-23

x = [1,2,3,4,5,6,7]
x.clear()
x

[]

### 리스트 탐색과 이터러블

In [ ]:
# List 7-3

# 리스트의 모든 요소 탐색하기(요소 개수를 미리 확인)

x = ['John', 'Georage', 'Paul', 'Ringo']

for i in range(len(x)):
  print('x[{}] = {}'.format(i,x[i]))

x[0] = John
x[1] = Georage
x[2] = Paul
x[3] = Ringo

In [ ]:
# List 7-4

# 리스트의 모든 요소를 enumerate 함수로 탐색하기

x = ['John', 'Georage', 'Paul', 'Ringo']

for i, name in enumerate(x):
  print('x[{}] = {}'.format(i,name))

x[0] = John
x[1] = Georage
x[2] = Paul
x[3] = Ringo

In [ ]:
# List 7-5

# 리스트의 모든 요소를 enumerate 함수로 탐색 (카운트 1부터)

x = ['John', 'Georage', 'Paul', 'Ringo']

for i, name in enumerate(x,1):
  print('{}번째 = {}'.format(i,name))

1번째 = John
2번째 = Georage
3번째 = Paul
4번째 = Ringo

In [ ]:
# List 7-6

# 리스트의 모든 요소 탐색하기(인덱스를 사용하지 않음)

x = ['John', 'Georage', 'Paul', 'Ringo']

for i in x:
  print(i)

John
Georage
Paul
Ringo

#### 역순 탐색

In [ ]:
# 역순 탐색할 때는 reversed(x) 사용
# x[::-1] 사용합니다

In [ ]:
x = ['John', 'Georage', 'Paul', 'Ringo']
x[::-1]

['Ringo', 'Paul', 'Georage', 'John']

#### 튜플과 집합 탐색

In [ ]:
#튜플과 집합도 마찬가지임

### 리스트 반전

In [ ]:
# 예 7-24) reverse 메소드로 요소 순서 반전
x = [1,2,3,4,5,6,7]
x.reverse()
x

[7, 6, 5, 4, 3, 2, 1]

#### reversed(x) 사용시 주의사항

reversed(x)는 x요소를 역순으로 정렬한 이러터블 객체를 생성하는 것임  
리스트 x자체를 변경하는 것이 아니라 새로운 객체를 생성하는 것이고  
생성된 객체는 리스트가 아니라 이터러블 객체임으로 리스트화가 추가로 필요함

In [ ]:
# 예) 7-25

x = [1,2,3,4,5,6,7]
y = list(reversed(x))
y

[7, 6, 5, 4, 3, 2, 1]

### 리스트를 사용한 성적 처리

In [ ]:
# List 7-7

# 점수를 입력받아 총점과 평균 구하기 1

print('총점과 평균을 구해봅시다.')
number = int(input('학생 수:'))

score = [None] * number

for i in range(number):
  score[i] = int(input('{}번 학생의 점수:'.format(i+1)))

total = 0
for i in range(number):
  total += score[i]

print('총점은 {}점입니다.'.format(total))
print('평균은 {}점입니다.'.format(total/number))

총점과 평균을 구해봅시다.
학생 수:5
1번 학생의 점수:32
2번 학생의 점수:68
3번 학생의 점수:72
4번 학생의 점수:54
5번 학생의 점수:92
총점은 318점입니다.
평균은 63.6점입니다.

In [ ]:
# 실행시간을 측정해주는 코드
#!pip install ipython-autotime
#%load_ext autotime

# 책의 코드와 나의 코드의 실행시간을 비교해보려고 했지만 input함수 때문에 측정이 힘듬
# 아직 코드가 작고 간단한 편이라 큰 의미가 없을 것 같지만 의문이 들어서 실행해보았음

In [ ]:
# 다른 방식으로 구현해보기

%load_ext autotime

print('총점과 평균을 구해봅시다.')
number = int(input('학생 수:'))

score = []

for i in range(number):
  score.append(int(input('{}번 학생의 점수'.format(i+1))))

print('총점은 {}점입니다'.format(sum(score)))
print('평균은 {}점입니다'.format(sum(score)/number))

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
총점과 평균을 구해봅시다.
학생 수:3
1번 학생의 점수2
2번 학생의 점수1
3번 학생의 점수1
총점은 4점입니다
평균은 1.3333333333333333점입니다
time: 5.83 s (started: 2023-09-11 07:52:25 +00:00)

In [ ]:
# List 7-8

# 점수를 입력받아 총점과 평균 구하기 2(오류)

print('총점과 평균을 구해봅시다.')
number = int(input('학생 수:'))

score = [None] * number

for i, point in enumerate(score):
  point = int(input('{}번 학생의 점수:'.format(i + 1)))

total = 0
for i in range(number):
  total += score[i]
print(total)
print(total / number)

총점과 평균을 구해봅시다.
학생 수:5
1번 학생의 점수:32
2번 학생의 점수:32
3번 학생의 점수:43
4번 학생의 점수:52
5번 학생의 점수:42

TypeError: ignored

In [ ]:
'''오류가 발생하는 이유에 관하여
for 문에 i, point는 enumerate함수로 추출한 값이고 원래 리스트에 영향을 주지 않기 때문에
기존 리스트score에는 None값이 그대로 있고, total연산 시 오류가 발생'''

'오류가 발생하는 이유에 관하여\nfor 문에 i, point는 enumerate함수로 추출한 값이고 원래 리스트에 영향을 주지 않기 때문에\n기존 리스트score에는 None값이 그대로 있고, total연산 시 오류가 발생'

In [ ]:
# List 7-9

# 점수를 입력받아 총점과 평균 구하기 3(enumerate로 총점 구하기)

print('총점과 평균을 구해봅시다.')
number = int(input('학생 수:'))

score = [None] * number

for i in range(number):
  score[i] = int(input('{}번 학생의 점수:'.format(i+1)))

total = 0
for i, point in enumerate(score):
  total += point

print('총점은 {}점 입니다.'.format(total))
print('평균은 {}점 입니다.'.format(total/number))

총점과 평균을 구해봅시다.
학생 수:3
1번 학생의 점수:1
2번 학생의 점수:2
3번 학생의 점수:5
총점은 8점 입니다.
평균은 2.6666666666666665점 입니다.

### 키보드로 입드받은 요소 추가

In [ ]:
# List 7-12

# 학생 수 없이 점수만 입력받아 총점과 평균 구하기

print('총점과 평균을 구해봅시다.')
print('"End를 입력하면 종료됩니다')

number = 0
score = []

while True :
  s = input('{}번 학생의 점수:'.format(number+1))
  if s == 'End':
    break
  score.append(int(s))
  number += 1
total = sum(score)

print(total)
print(total/number)

총점과 평균을 구해봅시다.
"End를 입력하면 종료됩니다
1번 학생의 점수:33
2번 학생의 점수:233
3번 학생의 점수:End
266
133.0
time: 7.96 s (started: 2023-09-11 07:59:13 +00:00)

### 리스트 요소의 최댓값과 최솟값

In [ ]:
# List 7-14

# 학생 수 없이 점수만 입력받아 최고점과 최저점 구하기

print('최고점과 최저점을 구해봅시다')
print('"End를 입력하면 종료됩니다')

number = 0
score = []

while True :
  s = input('{}번 학생의 점수:'.format(number + 1))
  if s == 'End':
    break
  score.append(int(s))
  number += 1
print('최고점 : {}'.format(max(score)))
print('최저점 : {}'.format(min(score)))

최고점과 최저점을 구해봅시다
"End를 입력하면 종료됩니다
1번 학생의 점수:1
2번 학생의 점수:3
3번 학생의 점수:5
4번 학생의 점수:7
5번 학생의 점수:9
6번 학생의 점수:End
최고점 : 9
최저점 : 1
time: 8.3 s (started: 2023-09-11 08:09:18 +00:00)

### 리스트로 행렬 구하기

In [ ]:
x = [None] * 2
print(x)
for i in range(2) :
  x[i] = [None] * 3
print(x)

[None, None]
[[None, None, None], [None, None, None]]
time: 8.05 ms (started: 2023-09-11 08:12:14 +00:00)

### 리스트 복사

= 는 대입연산자로 참조의 대상이 좌변에 복사된다는 것이다  
다른 말로는 우변의 것을 좌변의 것에 연결한다  
하지만 이번에는 대입이 아닌 리스트 자체를 복사하는 법을 알아본다

#### copy 메소드

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1.copy()
list2[2] = 9
print(list1)
print(list2)

[1, 2, 3, 4, 5]
[1, 2, 9, 4, 5]
time: 8.39 ms (started: 2023-09-11 08:24:31 +00:00)

#### list 함수 이용하기

In [ ]:
list1 = [1,2,3,4,5]
list2 = list(list1)
list2[2] = 9
print(list1)
print(list2)

[1, 2, 3, 4, 5]
[1, 2, 9, 4, 5]
time: 5.06 ms (started: 2023-09-11 08:26:03 +00:00)

#### 슬라이스식 이용하기

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1[:]
list1[2] = 9
print(list1)
print(list2)

[1, 2, 9, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
list2 = list1.copy()
list2

[1, 2, 9, 4, 5]

### 얕은 복사와 깊은 복사

In [ ]:
# 앞에서 배운 리스트 복사에는 단점이 존재한다.
# 리스트를 요소로 가지는 리스트를 복사할 때 문제가 생김

x = [[1,2,3],[4,5,6]]
y = x.copy()
x[0][1] = 9
x

[[1, 9, 3], [4, 5, 6]]

In [ ]:
y

# 결과를 보면 알겠지만 x값을 바꾸었지만 y값도 같이 바뀜......
# 얕은 복사가 되었기 떄문이다.

[[1, 9, 3], [4, 5, 6]]

In [ ]:
import copy
x = [[1,2,3],[4,5,6]]
y = copy.deepcopy(x)
x[0][1] = 9
print(x)
print(y)

[[1, 9, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]

### 리스트 내포 표기

#### 리스트 내포 표기 (list comprehension)

In [ ]:
# 예) 7-31 리스트 내포 표기로 리스트 생성하기

x = [n for n in range(1,8)]
x

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
x = [n-1 for n in range(1,8)]
x

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
# 예) 7-32 리스트 내포 표기로 리스트 생성하기(제곱꼴)

x = [n*n for n in range(1,8)]
x

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# 예 7-33 리스트 내포 표기로 리스트 생성하기
x = [f'{n}{"+" if n % 2 == 1 else "-"}' for n in range(1,8)]
x

['1+', '2-', '3+', '4-', '5+', '6-', '7+']

In [ ]:
# 예 7-32 리스트 내포 표기로 리스트 생성하기 (1~7 사이에 짝수)

x = [n for n in range(1,8) if n % 2 == 0]
x

[2, 4, 6]

#### 중첩 내포 표기

In [ ]:
#예 7-35 리스트 내포 표기로 리스트 생성하기(for문 중첩)

x = [i * 10 + j for i in range(1,3) for j in range(1,4)]
x

[11, 12, 13, 21, 22, 23]

In [ ]:
# 예 7-36 중첩 리스트 내포 표기로 2차원 리스트 생성하기
table = [[i * 10 + j for i in range(1,3)] for j in range(1,4)]
table

[[11, 21], [12, 22], [13, 23]]

In [ ]:
# 예 7-37 리스트 내포 표기에 의한 단위행렬의 생성
n = 4
im = [[1 if i == j else 0 for i in range(n)] for j in range(n)]
im

[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

### 균일 시퀀스
문자열이나 리스트 같은 데이터는 균일 시퀀스와 컨테이너 시퀀스로 분류됩니다.

#### 균일 시퀀스와 컨테이너 시퀀스

#### 배열형 (array 타입)

In [ ]:
# array 모듈에서 제공되는 배열 array는 모든 요소가 같은 타입의 숫자 값으로 구성되는 가변적인 균일 시퀀스 입니다.

In [ ]:
# 사실 잘 이해를 못 한 부분 복습시 다시 와서 공부하기

## Chapter 8 튜플

### 튜플

튜플은 요소를 순서대로 결합한 것이다.  
요소의 쌍이라고도 한다.  
튜플의 타입은 tuple입니다.  
튜플은 요소의 개수가 몇개라도 상관 없으며 타입도 통일 할 필요가 없다.  
하지만 요소의 순서는 의미가 있다.  
리스트와는 비슷해 보이겠지만 요소값을 바꿀 수 없는 불변 객체인 점이 차이점이다.  
튜플은 소괄호 () 를 사용한다.  

불변 객체이기에 장점  
메모리를 덜 차지하여 성능이 높아짐
요소의 값을 실수로 변경하는 것을 피할 수 있다.  
딕셔너리의 키로 사용할 수 있다.

### 튜플의 생성

#### 결합 연산자로 튜플 생성하기

In [ ]:

tuple1 = ()
tuple2 = 1,
tuple3 = (1,)
tuple4 = 1,2,3
tuple5 = 1,2,3,
tuple6 = (1,2,3)
tuple7 = (1,2,3,)
tuple8 = 'A', 'B', 'C'

# 단 요소가 한개인 경우 요소 뒤에 쉼표를 입력해야 합니다.
# 쉼표가 없으면 단일 값으로 간주되기 때문입니다.
# ex) tuple2, tuple3

In [ ]:
print(tuple4, tuple5)

(1, 2, 3) (1, 2, 3)

#### tuple함수로 리스트 생성하기

In [ ]:
tuple9 = tuple() # 빈 튜플 생성하기
tuple10 = tuple('ABC') # 문자열의 개별 문자에서 생성
tuple11 = tuple([1,2,3]) # 리스트에서 생성
tuple12 = tuple({1,2,3}) # 집합에서생성

tuple12 = tuple(range(7)) # (0,1,2,3,4,5,6)
tuple12 = tuple(range(3,8)) # (3,4,5,6,7)
tuple13 = tuple(range(3,13,2)) # (3,5,7,9,11)

#### divmod함수로 튜플 생성하기

In [ ]:
# 내장함수 divmod는 첫 번째 인ㅅ를 두 번째 인수로 나는 몫과 나머지를 튜플로 생성하여 리턴합니대

tuple16 = divmod(13,3) # (4,1) 몫4 나머지 1

# 언팩을 활용하면 몫과 나머지를 서로 다른 변수로 추철 가능합니다
div, mod = divmod(13,3)
print(div, mod)

4 1

#### 리스트와 튜플의 공통점
1. 요소가 없으면 거짓이다  
2. 귀속 판정 연산자 in/not in, 덧셈 연산자 +, 곱셈 연산자 * 를 적용가능하다.
3. 내장함수 len/ max/ min/ sum 을 활용가능하다. (튜플을 변경하지 않기 때문에)
4. 메소드 count/index로 탐색 가능하다
5. 다양한 방법으로 모든 요소를 탐색할 수 있다.

#### 리스트와 튜플의 차이점

##### 리스트는 가변형이고 튜플은 불변형이다

##### 인덱스 식과 슬라이스 식에서의 차이

In [ ]:
# 인덱스 식과 슬라이스 식은 튜플에서도 적용 가능하다.
# 하지만 인덱스식과 슬라이스 식으로 대입은 불가능하다. 이점은 문자열과 같고 리스트와는 다르다.

tp1 = (1,2,3,4,5)
tp1[2] = 99 #오류발생

TypeError: ignored

##### 누적 대입 연산자 += 와 *=

In [ ]:
# 튜플은 불변 객체이므로 누적 대입 += 과 *= 적용이 불가능해 보이지만 사용 가능합니다.
# 그러나 리스트와는 달리 제자리 연산이 수행이 되지 않습니다.

In [ ]:
# 리스트에서의 누적 대입하기.
lst = [1,2,3,]
print(id(lst))
lst += [4,5]
print(lst)
print(id(lst))

# 누적 대입 연산자가 실행되었고 id또한 같다.
# 이는 lst자체가 변경되었다는 뜻

140301278826112
[1, 2, 3, 4, 5]
140301278826112

In [ ]:
# 튜플에서의 누적 대입 연산
tpl = (1,2,3)
print(id(tpl))
tpl += (4,5)
print(tpl)
print(id(tpl))

# 누적 대입 연산자가 적용되었지만 id가 바뀜
# 새로운 튜플이 생성되어 참조를 바꾼 것

140301278737088
(1, 2, 3, 4, 5)
140301645582624

##### 요소의 추가와 삭제
튜플은 요소를 추가하거나 삭제 불가능합니다  
insert 나 append 등 다양한 메소드는 튜플에 제공되지 않습니다.

##### 정렬
튜펼은 불변 객체이므로 정렬할 수 없습니다. 따라서 튜플을 정렬할때는 다음과 같이 두 단계를 실시함  
1. sort 함수로 정렬한 것을 리스트로 생성한다.
2. 생성된 리스트를 튜플로 변환한다.

In [ ]:
# 예) 8-3
x = (1,3,2)
x = tuple(sorted(x)) #sorted 함수는 어떤한 이터러블 객체라도 받지만 리스트를 리턴합니다.
x

(1, 2, 3)

#### list 함수와 tuple 함수의 차이점. 같은 타입을 인수로 받을 때

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = list(lst1)
lst1[3] = 9
print(lst1, lst2) # list함수가 리스트를 인수로 받으면 새로운 리스트를 새로 생성합니다.
# 즉 각각 다른 객체를 참조하고, 각각 변경이 가능합니다.

[1, 2, 3, 9, 5] [1, 2, 3, 4, 5]

In [ ]:
tpl = (1,2,3,4,5)
tpl2 = tuple(tpl)
# 반면 튜플은 받은 튜플 그대로를 리턴하며 같은 객체를 잠조합니다.

#### 팩과 언팩

In [ ]:
tuple4 = 1,2,3,4 #(1,2,3,4)
# 이 처럼 4개의 값을 조합하여 튜플로 마드는 것을 팩이라고 합니다

In [ ]:
a,b,c,d = tuple4 # a,b,c,d 에 1,2,3,4 추출
# 이 처럼 튜플 안의 여러 값을 꺼내는 것을 언팩이라고 합니다.

a, _, c, _ = tuple4 # a,c 에 1,3을 추출
# 특정한 값만 필요하다면 그 외의 변수명을 _로 처리합니다.

x, y, z = 1,2,3
# 우변에 1,2,3을 팩한 (1,2,3)이 생성됩니다.
# 튜플(1,2,3) 을 언팩한 1,2,3이 좌변 x,y,z에 대입됩니다. 라는 작업이 수행되는 것.

a,b = b,a # a, b의 값을 교환
# 이러한 과정도 팩과 언팩이 차례로 이루어지는 구조입니다.

#### 언팩의 리스트화

In [ ]:
tuple4 = 1,2,3,4 #(1,2,3,4)
a,b, *c = tuple4 # a에 1, b에 2, c에 [3,4]대입

# 변수앞에 *을 사용하여 리스트로 추출하며 최대 한개까지 적용 가능합니다.
# 리스트로 추출하는 요소가 없으면 빈 리스트를 추출합니다.

a, *b, c = tuple4         # a에 1, b에 [2,3] c에 4를 대입
a, b, c, d, *e = tuple4   # a에 1, b에 2, c에 3, d에 4, e에 []대입.
a, b, c, *d, e = tuple4   # a에 1, b에 2, c에 3, d에 [], e에 4대입.

#### 중첩된 튜플에서 언팩

In [ ]:
tuple5 = (1,2(3,4))
a, b, c = tuple5 # a에 1, b에 2, c에 (3,4) 대입.

# 중첩된 경우 하나의 튜픙르 추출합니다.
# 이는 리스트에서도 마찬가지 입니다.

#### enumerate함수로 탐색하기

enumerate함수를 사용하면 이터러블 객체에서 인덱스와 요소의 쌍으로 튜플을 추출할 수 있습니다.
튜플은 암묵적으로 언팩되어 두 변수에 대입됩니다.

#### 튜플의 리스트

In [ ]:
students = [
    (2012, '김서준'),
    (2013, '이서아'),
    (2011, '최하준'),
]
print(students[0])
print(students[1])
print(students[2])
print(students[0][1])

# 변수 students는 요소가 세 개인 리스트입니다.
# 개별 요소가 튜플이기 때문에 변수의 첫 번째 요소는 튜플로 추출됩니다.

(2012, '김서준')
(2013, '이서아')
(2011, '최하준')
김서준

#### zip 함수로 리스트 결합하기

zip 함수를 사용하면 같은 인덱스의 요소를 튜플화한 것을 모은다

In [ ]:
p1 = [75,56,89]
p2 = [42,85,77]
name = ['김','이','최']
pl = list(zip(p1,p2)) # zip 함수로 결합한 객체는 zip객체이기에 list나 tuple로 변경하여 사용해야 합니다.
print(pl) # pl은 객체를 리스트화하여 모든 요소가 튜플인 리스트 생성


pt = tuple(zip(p1,p2,name))
print(pt) # pt는 객체를 튜플화하여 모든 요소가 튜플인 튜플을 생성

[(75, 42), (56, 85), (89, 77)]
((75, 42, '김'), (56, 85, '이'), (89, 77, '최'))

만약 요소의 개수가 맞지 않는 경우는 어떻게 zip 할까?  

기본적으로 zip 함수는 가장 짧은 요소 개수만큼만 앞에서 추출되고 zip화한다.  
ex) 요소 개수가 2, 3, 6인 리스트를 zip하면 앞에 요소 2개만 zip화한다.

itertools 모듈의 zip_longest함수를 사용하면 가장 큰 요소 개수에 맞춰서 zip화 가능하다.  
부족한 부분은 기본적으로 None으로 채워지고 fillvalue에 값을 지정할 수 있다.

### 딕셔너리

임의의 개수의 요소를 가질 수 있는 dict타입이다.  
모든 요소가 key, value의 쌍으로 이루어진다.  
리스트와 비교했을 때 인덱스를 자유롭게 설정 가능하고 탐색이 빠릅니다.

In [ ]:
# List 8-4

# 프로야구 선수의 연구 결번 딕셔너리(키가 정수 값이 문자열)

retired_number = {
    18: '선동열',
    36: '이승엽',
    21: '박철순'
}

print(retired_number[18])

선동열

#### 딕셔너리 생성

In [ ]:
# 딕셔너리 연산자 {} 로 생성하기

dict01 = {} # 빈 딕셔너리
dict02 = {'Korea': 410}

In [ ]:
# dict함수로 딕셔너리 생성하기

dict03 = dict() # 빈 딕셔너리 {}

# 튜플 리스트를 활용하기

lst = [('Korea',410), ('China',156),('Japan',392)]
dict04 = dict(lst)

# 두 개의 리스트를 활용하여 만들기

key = ['Korea','China','Japan']
value = [410, 156, 392]
dict05 = dict(zip(key,value))

#### 요소의 순서와 등가 판정(시퀀스형과 매핑형)

시퀀스 형인 문자열 리스트 튜플은 요소의 순서가 있습니다.  
따라서 연속된 정수 값을 인덱스로 요소에 액세스 할 수 있습니다.

반면 딕셔너리는 키와 값의 대응을 나타내는 요소의 집함으로 요소의 순서가 의미가 없기에 매핑형이라고 합니다.  

시퀀스형인지 매핑형인지에 따라 비교 연산자 == 와 != 로 동등성을 판정하는데 큰 차이가 있습니다

In [ ]:
#)예 8-6 리스트의 등가성 vs 딕셔너리의 등가성

list1 = ['korea', 'china', 'japan']
list2 = ['korea', 'japan', 'china']
list1 == list2

False

In [ ]:
dict1 = {'kor':'korea', 'chn':'china', 'jpn':'japan'}
dict2 = {'kor':'korea', 'jpn':'japan' ,'chn':'china'}
dict1 == dict2

True

리스트나 튜플에서는 요소의 값이 같앋 순서가 다르면 등가가 성립하지 않습니다.  
그러나 딕셔너리에서는 요소(키와 값)가 동일하면 순서가 달라도 같다고 판단합니다.  
또한 요소의 순서가 없기 때문에 슬라이스 식은 딕셔너리에 적용 불가능합니다.

#### 인덱스식과 get메소드

인덱스[키] 형식의 인덱스식으로 해당하는 값을 검색할 수 있습니대.

In [ ]:
color = {'red':'빨강', 'green':'초록', 'blue':'파랑'}

# print(color['pink'])  # 없는 키값을 호출하면 오류가 나옴
print(color.get('red'))
print(color.get('pink')) # 반면 get메소드는 None값이 출력됨

빨강
None

#### 인덱스식과 setdefault메소드

In [ ]:
color['red'] = '레드'     # color['red']의 값 '빨강'을 '레드'로 업데이트

color['yellow'] = '노랑'  # 키가 yellow이고 값이 노랑인 요소를 삽입합니다.

# 존재하지 않는 키에 접근만 해도 새로운 요소가 추가된다.

편한 접근은 맞지만 실수로 요소가 추가되는 문제가 발생가능합니다.  
그렇기에 setdefault 메소드를 활용합니다.

dict.setdefault(key[,value])  
key가 딕셔너리에 존재하면 그 값을 리턴합니다.  
그렇지 않으면 value인 key를 삽입한다음 value를 리턴합니다.  
value를 생략하면 값은 None입니다.

In [ ]:
v1 = color.setdefault('red', '레드')
print(v1)
print(color)

v2 = color.setdefault('yellow', '노랑')
print(v2)
print(color)

레드
{'red': '레드', 'green': '초록', 'blue': '파랑', 'yellow': '노랑'}
노랑
{'red': '레드', 'green': '초록', 'blue': '파랑', 'yellow': '노랑'}

#### update 메소드로 딕셔너리 수정하기

dict.update([other])  
딕셔너리에 내용을 other 키와 값으로 수정합니다.  
기존의 키는 덮어쓰고 리턴값은 None입니다.  
other에는 다른 딕셔너리 객체뿐만 아니라 키와 값의 쌍으로 이루어진 이터러블도 입력가능합니다.  
키워드 인수가 지정된 경우 그 키와 값의 쌍으로 딕셔너리를 수정합니다.

##### 딕셔너리의 결합

a.update(b)는 딕셔너리 a에 딕셔너리 b를 결합합니다.

In [ ]:
# List 8-5

# update 메소드로 딕셔너리 결합하기(중복없음)

rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}
cmy = {'cyan': '하늘', 'magenta':'자주', 'yellow':'노랑'}

# 딕셔너리 rgb에 cmy를 결합

rgb.update(cmy)
print(rgb)

{'red': '빨강', 'green': '초록', 'blue': '파랑', 'cyan': '하늘', 'magenta': '자주', 'yellow': '노랑'}

In [ ]:
# List 8-6

# update 메소드로 딕셔너리 결합하기(중복 있음)

# 만약 중복되는 키가 있다면 update의 벨류값이 우선적으로 업데이트 되어 수정됩니다.

rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}
cmy = {'cyan': '하늘', 'red':'레드', 'yellow':'노랑'}
# rgb 와 cmy 에는 'red' 라는 같은 키가 존재함.

rgb.update(cmy) # rgb에 딕셔너리 cmy를 결합 (cmy에 우선순위 있음)
print(rgb)      # 'red'의 벨류값은 '레드'로 업데이트

{'red': '레드', 'green': '초록', 'blue': '파랑', 'cyan': '하늘', 'yellow': '노랑'}

##### 딕셔너리의 요소 수정

update 메소드의 인수로 튜플 or 요소 개수가 두 개인 이터러블 객체를 전달하는 방법도 있습니다.  
이때 키 = 값 의 형식을 갖습니다.  
여러개를 전달하려면 다음과 같은 형식을 사용합니다  
> d.update(key=value)  
  d.update(key1=value1, key2=value2, ... etc...)  

이때, 지정된 키가 딕셔너리 d에 존재하는지에 따라 동작이 달라집니다  
> 키가 딕셔너리에 존재 -> 정의(키에 해당하는 값)가 수정된다.  
  키가 딕셔너리에 존재하지 않다 -> 정의(키에 해당하는 값)가 삽입된다.

In [ ]:
# List 8-7

# update 메소드로 딕셔너리 수정 (여러 요소의 일괄 삽입이나 수정용으로 유용)

rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}

rgb.update(red='레드', blue='블루', yellow='옐로우')
# 전달하는 인수의 키는 ''로 묶지 않습니다. 'red'가 아닌 red를 전달합니다.
print(rgb)

{'red': '레드', 'green': '초록', 'blue': '블루', 'yellow': '옐로우'}

##### 딕셔너리와 연산자  
리스트나 튜플과 달리 딕셔너리는 +, *, +=, *=, 적용 불가합니다

##### 순서를 가지는 딕셔너리
학습한 대로 딕셔너리는 요소 순서에는 의미가 없다.  
하지만 키를 순서대로 저장해야 한다면 collections.OrderedDict타입의 딕셔너리를 사용해야함

#### 요소 제거

##### pop 메소드로 제거하기

인수로 키를 전달하고 pop 메소드를 호출하면 그 키를 가진 요소가 제거됩니다.  
pop 메소드는 리스트와 같이 삭제한 값을 리턴합니다.  
존재하지 않는 키값을 지정하면 KeyError 예외가 발생합니다.

In [ ]:
rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}
print(rgb.pop('red'))           # pop 메소드는 값을 리턴합니다
print(rgb)                      # 기존 딕셔너리에서는 제거되었습니다

빨강
{'green': '초록', 'blue': '파랑'}

##### del문으로 제거하기

제거하는 값이 필요하지 않은 경우에는 del문을 사용합니다.  
인덱스식을 지정하면 해당 키를 가진 요소가 제거됩니다.  
존재하지 않는 키를 지정하면 KeyError예외 오류가 발생합니다.

In [ ]:
rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}
del rgb['red']                  # 리턴값은 없다
print(rgb)                      # 기존 딕셔너리에 'red' 와 값은 삭제되었다.

del rgb                         # del을 사용하여 딕셔너리 자체를 삭제한 것
# print(rgb)                    # 자체 삭제되었습으로 print하면 오류 발생

{'green': '초록', 'blue': '파랑'}

##### clear 메소드로 전체 요소 제거하기

리스트와 마찬가지로 clear 메소드로 딕셔너리의 모든 요소를 제거할 수 있습니다.  
즉 기존 딕셔너리를 빈 딕셔너리로 만듭니다.

> color = {} 대입으로 딕셔너리를 비울 수도 있습니다.

In [ ]:
rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}
rgb.clear()             # 딕셔너리 rgb의 모든 요소를 제거
print(rgb)

{}

#### 딕셔너리의 기본 조작

###### 귀속 판정 연산자로 키 포함 여부 판정  
in 과 not in 연산자를 사용하여 키가 존재하는지 확인 가능합니다.  
액세스 전에 판정하면 KeyError 예외를 발지할 수 있습니다.

> *참고*  
 문자열, 리스트, 튜플에서 귀속 판정 연산자의 판정 대상은 값이다.  
 하지만 딕셔너리는 키이다. 이는 딕셔너리가 키 중심이라는 것을 보여주는 예시다.

In [ ]:
rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}

if 'red' in rgb:
  rgb['red'] = '레드'
print(rgb)

{'red': '레드', 'green': '초록', 'blue': '파랑'}

##### len 함수로 요소 개수 확인하기
문자열 리스트와 마찬가지로 내장 함수인 len함수로 요소 개수를 얻을 수 있습니다

##### copy 메소드로 복사하기
딕셔너리에 제공되는 copy 메소드로 딕셔너리를 복사할 수 있습니다

#### 딕셔너리 탐색

In [ ]:
# List 8-8

# 딕셔너리의 모든 키를 enumerate 함수로 탐색하기

rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}

for i, key in enumerate(rgb):
  print('{} {}'.format(i,key))

0 red
1 green
2 blue

In [ ]:
# List 8-9

# 딕셔너리의 모든 키를 enumerate 함수로 탐색하기 (카운트를 1부터)

rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}

for i, key in enumerate(rgb,1):
  print('{} {}'.format(i, key))

1 red
2 green
3 blue

In [ ]:
# List 8-10

# 딕셔너리의 모든 키를 enumerate 함수로 탐색하기(인덱스 값 없이)

rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}
for key in rgb:
  print('{}'.format(key))

red
green
blue

리스트와 같은 탐색을 하면 모든 요소의 키가 추출된다.(값은 추출되지 않는다)  
딕셔너리가 키 중심의 형식이라는 것을 알 수 있다.

#### 딕셔너리와 뷰

딕셔너리는 편리하지만 다루기 어렵다는 점을 학습 중입니다.  
  
예를 들어 프로 야구 결번 딕셔너리의 키는 18, 36, 21 로 제각각입니다.  
따라서 어떤 키가 있는지 조사 할 필요가 있는데 3가지 방법을 제시합니다.  
  
> keys()    ---     모든 키의 dict_keys타입 뷰를 리턴한다.  
  valuse()  ---     모든 값의 dict_values타입 뷰를 리턴한다.  
  items()   ---     모든 요소(키와 값의 튜플)의 dict_items타입 뷰를 리턴한다.
  
여기서 뷰(view)는 딕셔너리의 내용을 순서대로 보기위한 가상 테이블입니다.  
순서를 가진 요소의 모임인 이터러블 객체입니다.  
만약 딕셔너리가 변경되면 뷰도 자동 업데이트 됩니다.  
또한 뷰에서는 각종 집합 연산 적용이 가능합니다

In [ ]:
# List 8-11

# 딕셔너리의 모든 키와 값, 요소를 리스트로 추출하기

rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}

print('키 : ', list(rgb.keys()))
print('값 : ', list(rgb.values()))
print('요소 : ', list(rgb.items()))

키 :  ['red', 'green', 'blue']
값 :  ['빨강', '초록', '파랑']
요소 :  [('red', '빨강'), ('green', '초록'), ('blue', '파랑')]

In [ ]:
# List 8-12

# 딕셔너리에서 추출된 뷰를 저우형 인덱스로 액세스

item = list({'red':'빨강', 'green':'초록', 'blue':'파랑'}.items())
print(item[0])

print(item[2][1])

('red', '빨강')
파랑

In [ ]:
# List 8-13

# 딕셔너리에서 추출한 뷰 탐색

rgb = {'red':'빨강', 'green':'초록', 'blue':'파랑'}

# keys()로 추출한 뷰 탐색
for key in rgb.keys():
  print(key)

# values()로 추출한 뷰 탐색
for value in rgb.values():
  print(value)

# items()로 추출한 뷰 탐색
for item in rgb.items():
  print(item)

# items()로 언팩하여 뷰 추출하며 탐색
for key, val in rgb.items():
  print(key, val)

red
green
blue
빨강
초록
파랑
('red', '빨강')
('green', '초록')
('blue', '파랑')
red 빨강
green 초록
blue 파랑

#### 딕셔너리의 활용

In [ ]:
# List 8-15

# 문자열에 포함된 문자의 출현 횟수를 딕셔너리에 저장하기1

txt = input('문자열 : ')
count = {}
for ch in txt:
  if ch not in count:
    count[ch] = 1
  else:
    count[ch] += 1
print('분포=',count)

문자열 : sdfwasdfs
분포= {'s': 3, 'd': 2, 'f': 2, 'w': 1, 'a': 1}

#### 딕셔너리 내포 표기 (dictionary comprehension)

참고로 리스트의 내포 표기 기본형식은
> [식 for 요소 in 이터러블]  

딕셔너리의 내포표기 기본형식은
> {식 : 식 for 요소 in 이터러블}

In [ ]:
# List 8-16

# 문자열에 포함된 문자의 출현 회수를 딕셔너리에 저장하기2 (딕셔너리 내포 표기)

txt = input('문자열 : ')

count = {ch: txt.count(ch) for ch in txt}

print('분포=', count)

문자열 : asdfwfd
분포= {'a': 1, 's': 1, 'd': 2, 'f': 2, 'w': 1}

### 집합  
  
set 타입인 집합을 학습한다.  
집합은 리스트나 튜플처럼 객체의 모임은 맞지만 차이가 있다.  
1. 집합에는 순서가 없다 (요소의 순서에 의미가 없다)  
2. 가변객체이다  
3. 요소가 없으면 거짓이다.  
4. 내장함수 copy/len/max/min/sum 사용 가능하다.

#### 집합의 생성과 집합의 성질

In [ ]:
# {}로 집합 생성하기

set1 = {1}
set2 = {1,2,3}
set3 = {1,2,3,}
set4 = {'A','B','C'}

In [ ]:
# set함수로 집합 생성하기

set5 = set()          # set()           빈집합
set6 = set('ABC')     # {'A','B','C'}   문자열의 개별 문자에서 생성
set7 = set([1,2,3])   # {1,2,3}         리스트에서 생성
set8 = set([1,2,3,2]) # {1,2,3}         리스트에서 (집합의 성질 : 중복없이) 생성
set8 = set((1,2,3))   # {1,2,3}         튜플에서 생성

In [ ]:
# 이를 활용하여 리스트나 튜플의 중복 요소를 쉽게 제거할 수 있다.

list1 = [1,2,3,2]
list2 = list(set(list1))    # 리스트 -> 집합 -> 리스트 변환으로 중복요소 제거
print(list2)

[1, 2, 3]

#### 가변객체이다

집합은 가변 객체이므로 요소를 추가하거나 제거 가능하다.  
그러나 딕셔너리의 키로는 사용 불가능하다.  
불변 집합형인 동결 집합형(frozenset타입)이 제공된다.  
불변객체이므로 딕셔너리의 키나 다르집합의 요소로 사용 가능하다.

#### 요소가 없으면 거짓이다.  
요소가 한 개도 없으면 빈 집함은 거짓으로 간주한다.

#### 내장함수 copy len max min sum 사용 가능하다.  
연산자나 함수는 집합을 변경하지 않기 때문임

#### 등가성 판정

In [ ]:
# == 과 != 사용가능하다.
# 집합에는 같은 요소가 존고하지 않고 순서가 의미가 없음으로 다음과 같은 예시는 True이다.

{1,2,1} == {1,1,2} == {1,2}

True

#### 귀속 판정 연산자 in / not in

요소 x 가 집합에 포함되어있는지 확인이 가능하다.  
내부에서 탐색이 이루어지며 리스트보다 빠릅니다.

### 집합 기본 조작 방법 (연산자와 메소드)

In [ ]:
#  연산자            메소드                개요
# x in s                                x는 집합 s에 포함되는가?
# x not in s                            x는 집합 s에 포함되지 않는가?
# s1 == s2                              s1과 s2가 동일한가?
# s1 != s2                              s1과 s2는 같지 않는가?
#              s1.isdisjoint(s2)        s1과 s2는 서로소인가?
# s1 <= s2     s1.issubset(s2)          s1은 s2의 부분 집합인가
# s1 <  s2                              s1은 s2의 진부분집합인가?
# s1 >= s2     s1.issuperset(s2)        s1은 s2의 초집합인가?(s2의 모든 요소가 s1에 포함되는가)
# s1 >  s2                              s1은 s2의 진초집합인가?
# s1 | s2      s1.union(s2)             s1과 s2의 합집합을 구한다.
# s1 & s2      s1.interection(s2)       s1과 s2의 교집합을 구한다.
# s1 - s2      s1.difference(s2)        s1과 s2의 차집합을 구한다.
# s1 ^ s2      s1.symmetric_difference(s2) s1과 s2의 대칭차를 구한다.(정확히 한 집합에만 속하는 원들)

# 이 연산자와 메소드들은 연산대상의 집합을 업데이트 하지 않습니다.
# 따라서 set과 frozenset타입 모두 적용 가능합니다.

In [ ]:
#           s.add(e)              s에 요소 e를 추가한다.
#           s.discard(e)          s에서 요소 e를 제거한다.
#           s.remove(e)           s에서 요소e를 제거한다. e가 없으면 KeyError를 발생
#           s.pop()               s에서 요소를 삭제하고 그 값을 리턴한다.(삭제요소 지정 불가능)
#           s.claer()             s에서 모든 요소를 제거한다.
# s1 |= s2  s1.union_update(s2)   s1에 s2를 추가한다.
# s1 &= s2  s1.intersection_update(s2)  s2에 포함되지 않는 요소를 s1에서 제거한다.
# s1 -= s2  s1.difference_update(s2)    s2에 포함되어 있는 요소를 s1에서 제거한다.
# s1 ^= s2  s1.symmertric_difference_update(s2) 대칭차를 구한다 // s1을 s1과s2의 대칭차로 업데이트한다.

# 이 연산자와 메소드들은 연산의 대상이 되는 집합 s나 s1을 업데이트 합니다.
# 따라서 set 타입 집합에만 적용 가능합니다.

In [ ]:
# 연산의 피 연산자인 s2는 집합이어야 합니다. 한편 메소드의 인수 s2는 이터러블 객체도 가능합니다.

##### 요소 추가하기(add 메소드)

In [ ]:
s = {1,2,3,4,5,6}
s.add(9)
s

{1, 2, 3, 4, 5, 6, 9}

##### 요소 제거하기(discard/remove 메소드)

In [ ]:
# discard 메소드

s = {1,2,3,4,5,6}
s.discard(3)
print(s)

# remove 메소드

s = {1,2,3,4,5,6}
s.remove(3)
print(s)

# s.remove(7)     remove는 요소가 없다면 에러를 발생시킵니다

{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}

##### 임의의 요소 삭제하기(pop메소드)

In [ ]:
s = {1,2,3,4,5,6}
for _ in range(3) :
  e = s.pop()
  print(e)
  print(s)
# pop은 삭제요소를 지정불가능. 무작위로 삭제한다.

1
{2, 3, 4, 5, 6}
2
{3, 4, 5, 6}
3
{4, 5, 6}

##### 모든 요소 삭제하기(clear)

In [ ]:
s = {1,2,3,4,5,6}
s.clear()
print(s)      # 빈 집합 set() 을 출력한다.

set()

Object `symmetric_difference_update()` not found.

#### 집합 내포 표기

리스트와 딕셔너리에서 학습한 내포 표기는 집합에서도 사용 가능합니다.  
- {식 for 요소 in 이터러블}

In [ ]:
x = {n for n in range(1,8)}
print(x)

{1, 2, 3, 4, 5, 6, 7}